

div a {
  text-decoration: none;
  color: #333;
  color: color(display-p3 0.2 0.2 0.2);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.footer-section-title {
  color: #ff5b00;
  color: color(display-p3 1 0.4118 0);
  font-family: "Yusei Magic";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/*  footer contents  components */

 .small-img {
  animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%   { transform: scale(1.2); }
  50%  { transform: scale(1); }
  100% { transform: scale(1.2); }
}


.kid-block{
  width: 35%;
}

@media (max-width: 600px) {
  .small-img {
    margin: 10px !important;

  }
  .social-icon img{
    width: 50px ;
  }
  .kid-block{
    width:100%;
  }
}


.my-navlink:hover{
color: #ff5b00;
}