.carousel-slide {
  background-size: cover;
  min-height: 80vh;
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-caption {
  position: absolute;
  top: 15% !important;
  left: 8% !important;
  text-align: left !important;
  max-width: 40%;
}

.doll-img {
  margin-top: -50px;
  margin-right: 20%;
}
.slide-heading {
  color: #33a1ff;
  font-size: 24px;
  font-family: "Yusei Magic";
}
.slider-subheading {
  color: #333333;
  font-size: 70px;
  font-weight: 700;
  line-height: normal;
}
.slider-description {
  color: #f62023;
  font-size: 18px;
  font-weight: 700;
}
.arrow-monkey {
  position: absolute;
}

@media (max-width:968px) {

  .carousel-slide {
    background-size: cover;
    min-height: 50vh;
}

.doll-img {
  margin-top: 0;
  margin-right: 10% !important;
}
.slide-heading {
  font-size: 18px; 
}
.slider-subheading {
  color: #333333;
  font-size: xx-large;
}
.slider-description {
  font-size: 14px;
}
    
}

@media (max-width: 600px) {
  .slider-img {
    height: 100% !important;
    /* object-fit: contain; */
  }
  .carousel-slide {
    min-height: 30vh;
  }

  .doll-img {
    margin-top: 0px;
  }
  .doll-img img,
  .balloon-img {
    width: 40px;
    margin-top: -40px;
  }
  .slide-heading {
    font-size: 12px;
  }
  .slider-subheading {
    font-size: 15px;
  }
  .slider-description {
    font-size: 8px;
  }
  /* 
  .arrow-monkey {
    position: static !important;
    margin-top: -100px;
  } */

  /* math section */

  .math-love-section {
    height: 100% !important;
    padding: 4rem 10px;
  }
  .math-heading {
    font-size: x-large !important;
  }

  .hanging-monkey {
    margin-left: -74px;
    width: 100%;
    rotate: 0deg !important;
  }

  /* factors  */

  .factor-heading,
  .factors-description {
    font-size: large !important;
    padding: 0 50px;
  }
  /* ---- brain section ----- */

  .next-arrow {
    rotate: 90deg;
  }
}

.carousel-control-prev-icon {
  left: 0 !important;
  position: absolute;
  border-radius: 0 10px 10px 0;
}
.carousel-control-next-icon {
  right: 0 !important;
  position: absolute;
  border-radius: 10px 0 0 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  /* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg); */
  height: 2rem !important;
  width: 2rem !important;
  padding: 50px 20px;
  background-color: #ff6900;
  color: #333333 !important;
}

@media (max-width: 600px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    padding: 2rem 1rem;
  }
}
/* 
.carousel-indicators .active {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);

} */
.carousel-indicators [data-bs-target] {
  /* background-color: #dbdbdb !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  opacity: 1 !important;
  border: none !important; */
  display: none !important;
}

.bottom-wave {
  position: absolute;
  bottom: 0;
}

.hanging-monkey {
  margin-top: -18px;
  animation: hangingMonkey 0.8s ease-in-out infinite;
  rotate: -8deg;
}

@keyframes hangingMonkey {
  0% {
    transform: translatey(3px);
  }
  50% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(3px);
  }
}

/* pillars  */

.pillar-box {
  padding: 20px 30px;
  transition: all ease-in-out 0.3s;
  border-radius: 10px;
}
.pillar-box:hover {
  background-color: #f6efe4;
  box-shadow: 0px 0px 6.644px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-40px);
}

/* zig-zag cards */

.zigzag-connection-wrapper {
  position: relative;
  padding: 100px 20px 20px 20px;
}

.zigzag-line {
  position: absolute;
  top: 15%;
  left: 16%;
  height: 150px;
  width: 70%;
  z-index: 0;
  pointer-events: none;
}

/* math brain section  */

.math-brain {
  padding: 8rem 1.5rem;
}
.heading-h4 {
  font-size: 50px;
}
@media (max-width: 600px) {
  .math-brain {
    padding: 5rem 1.5rem;
  }
  .heading-h4 {
    font-size: xx-large;
  }
}

/* carousel  */

.carousel-indicator-btn:hover {
  background-color: #333333 !important;
}

.slick-list {
  margin: 0 auto !important;
  padding: 0;
}

.hanging-monkey-2 {
  animation: hanging 1s ease-in-out infinite;
  margin-right: 1px;
  margin-top: 0;
}

@keyframes hanging {
  0% {
    transform: rotateZ(0.3deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0.3deg);
  }
}

.brain-img {
  margin-left: -7rem;
}

.b1-mathbrain {
  margin-top: -21rem;
  z-index: 1;
}
.b2-mathbrain {
  /* margin-top: -5rem; */
}
.b3-mathbrain {
}

.apply-using-brain {
  margin-left: -4rem;
  gap: 6rem;
  margin-top: -5rem;
}

@media (max-width: 600px) {
  .brain-img {
    margin-left: -5rem;
  }
  .brain-img img {
    width: 150px;
  }

  .b1-mathbrain {
    margin-top: -13rem;
  }

  .b1-mathbrain img {
    width: 150px;
  }
  .b2-mathbrain {
    width: 150px;
  }
  .b3-mathbrain {
    width: 150px;
  }

  .apply-using-brain {
    margin-left: -2rem;
    gap: 4rem;
    margin-top: -3rem;
  }
}

.b1-mathbrain {
  animation: brainShow 0.7s ease-in-out forwards;
  animation-delay: 0.1s;
  opacity: 0;
}
.b2-mathbrain {
  animation: brainShow 0.7s ease-in-out forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

.b3-mathbrain {
  animation: brainShow 0.7s ease-in-out forwards;
  animation-delay: 2.2s;
  opacity: 0;
}

@keyframes brainShow {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* lets connect section */

.style-connect {
  -webkit-text-stroke-color: rgba(51, 51, 51, 0.19);
  -webkit-text-stroke-width: 2.03px;
  -webkit-text-stroke-color: color(display-p3 0.2 0.2 0.2 / 0.19);
  font-family: Quicksand;
  font-size: 92.43px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-color: rgba(51, 51, 51, 0.19);
  color: white;
}

.input-box-style {
  border-radius: 8px;
  border: 1.5px solid #ffc000;
  border: 1.5px solid color(display-p3 1 0.7647 0);
  background: #fff;
  background: color(display-p3 1 1 1);
  padding: 12px 20px;
  width: 100%;
  font-size: 16px;
  color: #030314;

  transition: border-color 0.2s;
}

@media (max-width: 600px) {
  .style-connect {
    font-size: xxx-large;
  }
}
